<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="AirlineEntities" connectionString="metadata=res://*/AirlineModel.csdl|res://*/AirlineModel.ssdl|res://*/AirlineModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=JOSH;initial catalog=Airline;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>